html,body {
	height: 100%;
	font-size: 100%;
}

* {
	box-model: border-box;
}

a {
	text-decoration: none;
}

#head {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3em;
	line-height: 3em;
	background-color: $greylight;
	vertical-align: middle;
	@include box-shadow(inset 0 -6px 6px -6px $grey);
	h1 {
		margin: 0;
		padding: 0 20px;
		font-size: 2em;
		display: inline-block;
	}
	.nav {
		display: inline-block;
		float: right;
		padding: 0 20px;
		a {
			padding: .3em 2em;
			background-color: $button_back;
			color: $button_fore;
			font-weight: bold;
			&:hover {
				background-color: $button_back_hover;
			}
			&.active {
				background-color: $button_focus_back;
				color: $button_focus_fore;
				padding-bottom: .9em;
			}
		}
	}
}

#middle {
	position: absolute;
	top: 3em;
	bottom: 2em;
	width: 100%;
}

#first-panel {
	position: relative;
	display: inline-block;
	background-color: $greydark;
	height: $panel-height;
	width: 20%;
	color: #fff;
	vertical-align: top;
	overflow-y: scroll;
}

#second-panel {
	position: relative;
	display: inline-block;
	background-color: $greydark;
	height: $panel-height;
	width: 30%;
	color: #fff;
	vertical-align: top;
	overflow-y: scroll;
}

.inpanel {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		height: 30px;
		line-height: 30px;
		padding: 5px 20px;
		border-bottom: 1px solid $grey;
		cursor: pointer;
		&:hover {
			background-color: $greydarker;
		}
	}
}
.large {
	li {
		height: 60px;
	}
}
.compact {
	li {
		height: 40px;
		line-height: 20px;
	}
}
.title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.date {
	font-size: 0.7em;
	text-align: left;
	color: $greylighter
}
#third-panel {
	position: relative;
	display: inline-block;
	height: $panel-height;
	width: 50%;
	vertical-align: top;
	text-align: center;
}

#foot {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2em;
	line-height: 2em;
	background-color: $greylight;
	vertical-align: middle;
	@include box-shadow(inset 0 6px 6px -6px $grey);
	.footline {
		padding: 0 20px;
		font-size: 0.8em;
	}
}

.btn {
	padding: .2em 2em;
	background-color: $button_back;
	color: $button_fore;
	font-weight: bold;
	border: 0;
	&:hover {
		background-color: $button_back_hover;
	}
	&.active {
		background-color: $button_focus_back;
		color: $button_focus_fore;
		padding-bottom: .9em;
	}
}

.btn.small {
	padding: .1em .5em;
	font-size: .8em;
}
.padded {
	margin: 1em 0;
}

.menunav {
	background-color: $greydarker;
	bottom: 0;
	padding: .2em;
}
.meat {

}