html,body {
	height: 100%;
	font-size: 100%;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
input[type=text], textarea {
	border: 1px solid $grey;
	background-color: $greylighter;
	color: $greydarker;
	padding: .2em .5em;
	@include border-radius(.2em);
	@include box-shadow(0 0 3px 1px $greydarker, inset 0 0 12px -4px $grey);
	&:focus {
		@include box-shadow(0 0 5px 1px $input_focus, inset 0 0 6px -1px white);
		border: 1px solid $input_focus;
	}
}

#head {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3em;
	line-height: 3em;
	background-color: $greylight;
	vertical-align: middle;
	@include box-shadow(inset 0 -6px 6px -6px $grey);
	h1 {
		margin: 0;
		padding: 0 20px;
		font-size: 2em;
		display: inline-block;
	}
	.nav {
		display: inline-block;
		float: right;
		padding: 0 20px;
		a {
			padding: .3em 2em;
			background-color: $button_back;
			color: $button_fore;
			font-weight: bold;
			&:hover {
				background-color: $button_back_hover;
			}
			&.active {
				background-color: $button_focus_back;
				color: $button_focus_fore;
				padding-bottom: .9em;
			}
		}
	}
}

#middle {
	position: absolute;
	top: 3em;
	bottom: 2em;
	width: 100%;
}
.inmiddle {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 1300px;
	overflow-x: scroll; 
	margin: 0;
	padding: 0;
}
#first-panel {
	position: relative;
	display: inline-block;
	background-color: $greydark;
	height: $panel-height;
	width: 20%;
	min-width: 260px;
	color: #fff;
	vertical-align: top;
	overflow-y: scroll;
	li {
		position: relative;
		cursor: pointer;
		&.selected {
			background-color: $grey;
		}
	}
}

#second-panel {
	position: relative;
	display: inline-block;
	background-color: $greydark;
	height: $panel-height;
	width: 30%;
	min-width: 260px;
	color: #fff;
	vertical-align: top;
	overflow-y: scroll;
	li {
		cursor: pointer;
		&.selected {
			background-color: $grey;
		}
	}
}

.inpanel {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		height: 40px;
		line-height: 30px;
		padding: 5px 20px;
		border-bottom: 1px solid $grey;
		cursor: pointer;
		&:hover {
			background-color: $greydarker;
		}
	}
}
.large {
	li {
		height: 60px;
	}
}
.compact {
	li {
		height: 50px;
		line-height: 20px;
	}
}
.title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.date {
	font-size: 0.7em;
	text-align: left;
	color: $greylighter
}
.header {
	cursor: default !important;
	&:hover {
		background-color: $greydark !important;
	}
}
#third-panel {
	position: relative;
	display: inline-block;
	height: $panel-height;
	width: 50%;
	overflow: scroll;
	vertical-align: top;
	// text-align: center;
	overflow-y: scroll;
	padding: 10px;
	.feeditem-content {
		text-align: left;
	}
	.title {
		width: 100%;
		h4 {
			display: inline;
			font-size: 2em;
			margin: 0;
		}
		.btn {
			margin-left: 10px;
			display: inline-block;
			width: 60px;
			text-align: center;
		}
		padding: 10px;
		margin-bottom: 20px;
		background-color: #ccc;
	}
}

#foot {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2em;
	line-height: 2em;
	background-color: $greylight;
	vertical-align: middle;
	@include box-shadow(inset 0 6px 6px -6px $grey);
	.footline {
		padding: 0 20px;
		font-size: 0.8em;
	}
}

li.btn {
	line-height: 50px;
	background-color: $greydark;
	&:hover {
		color: $button_fore;
		background-color: $greydarker;
	}
	@include box-shadow(0 0 0 $greydark);
	border-radius: 0;
}

input {
	width: 80%;
	height: 30px;
}

.edit-btn {
	width: 80px;
	text-align: center;
	margin: 5px;
}

.delete-btn {
	position: absolute;
	background-color: rgba(0,0,0,0.1);
	right: 0;
	top: 0;
	height: 100%;
	line-height: 40px;
	width: 40px;
	padding: .2em;
	font-size: 1em;
	text-align: center;
	&:hover {
		color: red;
	}
}

.btn {
	padding: .2em;
	background-color: $button_back;
	color: $button_fore;
	font-weight: bold;
	border: 0;
	cursor: pointer;
	@include border-radius(.2em);
	@include text-shadow(-1px 1px 5px $greydark);
	@include box-shadow(0 0 3px 1px $greydarker, inset 0 0 12px -4px $greylighter);
	&:hover {
		background-color: $button_back_hover;
	}
	&:active {
		background-color: $button_focus_back;
		color: $button_focus_fore;
		padding-bottom: .3em;
	}
}

.btn.small {
	padding: .1em .5em;
	font-size: .8em;
}
.btn.primary {
	background-color: $button_primary_back;
	color: $button_primary_fore;
	&:hover {
		background-color: $button_primary_back_hover;
	}
}
.padded {
	margin: 1em 0;
}

.menunav {
	background-color: $greydarker;
	bottom: 0;
	padding: .2em;
}
.menuform {
	background-color: $grey;
	padding: .3em;
	div {
		margin-bottom: .3em;
	}
	input[type=text], textarea {
		width: 100%;
	}
	.action button:last-child {
		float: right;
	}
}
.prompt {
	font-size: 2.0em;
	padding: 40px;
	text-align: center;
	@include animation(flash, 5s, ease-in, 0s, infinite, alternate);
}
span.picker {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5em;
	width: 20px;
	&.picked {
		color: $green;
	}
	&.unpick {
		color: #fff;
	}
}
@include keyframes(flash) {
	from { color: #000; }
	to { color: #eee; }
}