$grey: #6f6664;
$greylight: lighten($grey,30%);
$greylighter: lighten($grey,50%);
$greydark: darken($grey,20%);
$greydarker: darken($grey,30%);

$green: #00bb3f;
$red: #ff2800;

$link_hover: #ddd;

$input_focus: #336699;

$button_back: #607080;
$button_back_hover: lighten($button_back,10%);
$button_fore: #fff;

$button_primary_back: saturate($button_back,50%);
$button_primary_back_hover: saturate($button_back_hover,30%);
$button_primary_fore: #fff;

$button_focus_back: darken($button_back,10%);
$button_focus_back_hover: lighten($button_focus_back,10%);
$button_focus_fore: #fff;

$panel-height: 100%;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($name, $duration: 3s, $timefn: ease, $delay: 0s, $count: 1, $direction: normal) {
  animation: $name $duration $timefn $delay $count $direction;
  -webkit-animation: $name $duration $timefn $delay $count $direction;
  -moz-animation: $name $duration $timefn $delay $count $direction;
  -ms-animation: $name $duration $timefn $delay $count $direction;
}