.dash-view {
	height: 100%;
}


.prompt {
	font-size: 2.0em;
	padding: 40px;
	@include animation(flash, 5s, ease-in, 0s, infinite, alternate);
}

@include keyframes(flash) {
	from { color: #000; }
	to { color: #eee; }
}