html,body {
	height: 100%;
	font-size: 10px;
}

#titlebar {
	height: 10%;
	line-height: 2.0em;
	min-height: 40px;
	background-color: #ddd;
	font-size: 1.5em;
	text-shadow: 2px 2px #aaa;
}

.appl-view {
	height: 90%;
	width: 100%;
	h1 {
		margin: 0;
	}
}