.dash-view {
	height: 100%;
	font-size: 1.4em;
}

#feeds-panel {
	position: relative;
	display: inline-block;
	background-color: #333;
	height: 102%;
	width: 20%;
	color: #fff;
	vertical-align: top;
	overflow: scroll;
	box-shadow: 0 0 4px rgba(0,0,0,0.6);
	.feeds {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			height: 60px;
			line-height: 30px;
			padding: 5px 20px;
			border-bottom: 1px solid #666;
		}
	}
}
#items-panel {
	position: relative;
	display: inline-block;
	background-color: #3a3a3a;
	height: 102%;
	width: 30%;
	color: #fff;
	vertical-align: top;
	overflow: scroll;
	box-shadow: -2px 0 4px rgba(0,0,0,0.6);
	.items {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			height: 30px;
			line-height: 30px;
			padding: 5px 20px;
			border-bottom: 1px solid #666;
		}
	}
}
#output-panel {
	position: relative;
	display: inline-block;
	height: 102%;
	width: 50%;	
	vertical-align: top;
	text-align: center;
	box-shadow: -2px 0 4px rgba(0,0,0,0.6);
}