@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Inder);

::-moz-selection {
  background: #000;
  color: #fff;
}
::selection {
  background: #000;
  color: #fff;
}
body {
  width:100% !important;
  -webkit-text-size-adjust:none;
  margin: 0;
  padding: 0;
  background-color:#11332f;
  font-family: 'Source Code Pro', monospace;
}
img {
  border: none;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
}
.h2 {
  color: #202020;
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 3px;
  text-align: left;
  border-top: 1px solid #000;
  border-bottom: 1px dashed #ccc;
  padding: 5px 0 2px 0;
  font-family: 'Inder', sans-serif;
}
.h3 {
  color: #202020;
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-size: 26px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 0;
  text-align: left;
  font-family: 'Inder', sans-serif;
}
.h4 {
  color: #202020;
  display: block;
  font-family: 'Source Code Pro', monospace;
  font-size: 22px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 0;
  text-align: left;
  font-family: 'Inder', sans-serif;
}
ul {
  padding-left: 15px;
  margin: 5px 0;
}
input {
  border: 1px solid #666;
  padding: 3px 4px;
}
input[type=submit]:hover {
  background-color: #393;
  color: #fff;
  border-radius: 3px;
}
input[type=submit] {
  background-color: #131;
  color: #fff;
  border-radius: 3px;
  padding: 2px 10px;
  font-weight: bold;
  border: 1px solid #000;
}
a {
  color: #393;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#container {
  width: 90%;
  margin: 0 auto;
  #wrapper {
    width: 100%;
    text-align: left;
    #titlebar {
      margin-bottom: 20px;
      position: relative;
      #logo {
        position: absolute;
        left: -10px;
      }
      h1 {
        color: #fff;
        text-shadow: 0 5px 10px #000;
        font-size: 36px;
        letter-spacing: 4px;
        line-height: 90%;
        margin: 10px 20px 0 0;
        text-align: right;
        padding-top: 5px;
        font-family: 'Inder', sans-serif;
      }
    }
    .cell {
      box-shadow: 0 0 400px -70px #fff;
      #signup {
        background-color: #ccc;
        padding: 5px 20px;
        text-align: right;
      }
      #nav {
        background-color: #fff;
        ul {
          list-style: none;
          margin: 0 ;
          padding: 5px 0;
          li {
            margin: 0;
            padding: 0;
            display: inline-block;
            a {
              padding: 5px 20px;
              color: #aaa;
              &:hover {
                color: #999;
                text-decoration: none;
                border-bottom: 3px dotted #ddd;
              }
              &.active {
                color: #000;
                border-bottom: 3px dotted #bbb;
              }
            }
          }
        }
      }
      #content {
        background-color: #fff;
        text-align: left;
        .meat {
          padding: 20px;
          min-height: 300px;
          h2 {
            margin-top: 0;
          }
          h3 {
            margin: 0;
            border-bottom: 1px dotted #999;
          }
          blockquote {
            font-size: 14px;
            color: #666;
            border-top: 2px dotted #ccc;
            padding-top: 10px;
          }
        }
        .menu {
          width: 180px;
          float: right;
          text-align: right;
          padding: 5px 20px;
          h2 {
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
          }
          ul {
            list-style: none;
            li {
              span {
                font-size: 12px;
                color: #666;
              }
            }
          }
        }
      }
      #footer {
        padding: 5px 20px;
        background-color: #000;
        color: #ccc;
        font-size: 12px;
        .cg {
          margin-right: 12px;
          margin-left: -30px;
          margin-top: -12px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px){
  body {
    width: auto !important;
  }
  body,table,td,p,a,li,blockquote {
    -webkit-text-size-adjust: none !important;
  }
  #backgroundTable, #wrapper {
    max-width: 600px !important;
    width: 100% !important;
  }
  #templatePreheader {
    display: none;
  }
  #templateBody {
    padding: 10px !important;
  }
}
