<div id="head">
  <div id="logo"></div>
  <h1>Organews</h1>
  <div class="nav">
    {{#linkTo "feeds" }}Feeds{{/linkTo}}
    {{#linkTo "publications" }}Publications{{/linkTo}}

  </div>
</div>
<div id="middle">
  {{outlet}}
</div>
<div id="foot">
  <div class="footline">
    Organews is an alpha-stage Newsroom Management Software
    <a href="https://github.com/greenruby/organews">fork on github</a>
  </div>
</div>