<div id="first-panel">
	<ul class="inpanel large">
		<li>feed 1</li>
		<li>feed 2</li>
		<li>feed 3</li>
		<li>feed 4</li>
		<li>feed 5</li>
		<li>feed 6</li>
		<li>feed 7</li>
		<li>feed 8</li>
		<li>feed 9</li>
		<li>feed 10</li>
		<li>feed 11</li>
	</ul>
</div><div id="second-panel">
	<ul class="inpanel">
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 4</li>
		<li>item 5</li>
		<li>item 6</li>
		<li>item 7</li>
		<li>item 8</li>
		<li>item 9</li>
		<li>item 10</li>
		<li>item 11</li>
		<li>item 12</li>
		<li>item 13</li>
		<li>item 14</li>
		<li>item 15</li>
		<li>item 16</li>
		<li>item 17</li>
		<li>item 18</li>
	</ul>
</div><div id="third-panel">
	<div class="prompt">
		Select your item on the left.
	</div>
</div>