<div class="meat">
  The Green Ruby Newsletter is a weekly newsletter sent by mail to a bunch of web developers.
  It gathers links to new content from the very past week,
  about web development, ruby language, but also javascript, html, css and other news
  of interest for web developers, coders, scripters, etc.

  <br>

  <blockquote>
    purist &gt; WTF! Rubies are red, you heretic!
    <br>
    editor &gt; yeah but if it passes all tests it gets green
    <br>
    purist &gt; ...
  </blockquote>
</div>