<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Green Ruby</title>
    <meta name="description" content="A Newsletter dedicated to weekly fresh news about ruby, web development, javascript, and related topics.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/grn.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
      <table border="0" cellpadding="0" cellspacing="0" id="background">
        <tr>
          <td align="center" valign="center">
            <div id="wrapper">
              <div id="logo">
                <img src="img/green-ruby-100.png" width="100" height="81" alt="Green Ruby" />
              </div>
              <div id="titlebar">
                <h1>Green Ruby News</h1>
              </div>
              <div class="cell">
                <form action="http://codegreenit.us6.list-manage1.com/subscribe/post?u=f1b3b59d2383eeb07537f6440&amp;id=7136c985cf" method="post" target="_blank" id="signup">
                  Subscribe to the Green Ruby Weekly Newsletter
                  <input type="email" value="" name="EMAIL" class="email" placeholder="email address">
                  <input type="submit" value="Subscribe" name="subscribe" class="button">
                </form>

                <div id="content">
                  <div class="menu">
                    <h2>Archives</h2>
                    <ul>
                      <li><span>21 apr 2013 </span><a href="http://eepurl.com/ym1lj">#011</a></li>
                      <li><span>13 apr 2013 </span><a href="http://eepurl.com/xZ4Z1">#010</a></li>
                      <li><span>06 apr 2013 </span><a href="http://eepurl.com/xKFWv">#009</a></li>
                      <li><span>30 mar 2013 </span><a href="http://eepurl.com/xi8jr">#008</a></li>
                      <li><span>23 mar 2013 </span><a href="http://eepurl.com/w69bH">#007</a></li>
                      <li><span>17 mar 2013 </span><a href="http://eepurl.com/wRRp5">#006</a></li>
                      <li><span>09 mar 2013 </span><a href="http://eepurl.com/wgy9f">#005</a></li>
                      <li><span>02 mar 2013 </span><a href="http://eepurl.com/vUhcf">#004</a></li>
                      <li><span>24 feb 2013 </span><a href="http://eepurl.com/vvRsH">#003</a></li>
                      <li><span>16 feb 2013 </span><a href="http://eepurl.com/vjRU9">#002</a></li>
                      <li><span>12 feb 2013 </span><a href="http://eepurl.com/rnieH">#001</a></li>
                    </ul>
                  </div>
                  <div class="meat">
                    The Green Ruby Newsletter is a weekly newsletter sent by mail to a bunch of <b>web developers</b>.
                    It gathers links to new content from the very past week,
                    about web development, ruby language, but also javascript, html, css and other news
                    of interest for web developers, coders, scripters, etc.
                    <br clear="both" />
                    <blockquote>
                      purist &gt; WTF! Rubies are red, you heretic!<br />
                      editor &gt; yeah but if it passes all tests it gets green<br />
                      purist &gt; ...
                    </blockquote>
                  </div>

                </div>
                <div id="footer">
                  <a href="http://codegreenit.com"><img src="img/codegreen.png" width="57" height="57" alt="CG" align="left" class="cg" /></a>
                  <a href="mailto:news@greenruby.org" style="float:right">contact</a>
                  The Green Ruby Newsletter is published by Mose<br />
                  Sponsored by <a href="http://codegreenit.com">Code Green IT</a><br />
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    -->
    <!-- Piwik analytics from CodeGreen
    -->
    <script type='text/javascript'>
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://track.codegreenit.com/" : "http://track.codegreenit.com/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type='text/javascript'>
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    </script>
    <noscript><p><img src="http://track.codegreenit.com/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
  </body>
</html>
