@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Inder);
/* line 4, ../../assets/scss/grn.scss */
::-moz-selection {
  background: #000;
  color: #fff;
}

/* line 8, ../../assets/scss/grn.scss */
::selection {
  background: #000;
  color: #fff;
}

/* line 12, ../../assets/scss/grn.scss */
body {
  width: 100% !important;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  background-color: #11332f;
  font-family: 'Source Code Pro', monospace;
}

/* line 20, ../../assets/scss/grn.scss */
img {
  border: none;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
}

/* line 30, ../../assets/scss/grn.scss */
.h2 {
  color: #202020;
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 3px;
  text-align: left;
  border-top: 1px solid #000;
  border-bottom: 1px dashed #ccc;
  padding: 5px 0 2px 0;
  font-family: 'Inder', sans-serif;
}

/* line 43, ../../assets/scss/grn.scss */
.h3 {
  color: #202020;
  display: block;
  font-family: Courier New, monospace;
  font-size: 26px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 0;
  text-align: left;
  font-family: 'Inder', sans-serif;
}

/* line 54, ../../assets/scss/grn.scss */
.h4 {
  color: #202020;
  display: block;
  font-family: Courier New, monospace;
  font-size: 22px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 0;
  text-align: left;
  font-family: 'Inder', sans-serif;
}

/* line 65, ../../assets/scss/grn.scss */
ul {
  padding-left: 15px;
  margin: 5px 0;
}

/* line 69, ../../assets/scss/grn.scss */
input {
  border: 1px solid #666;
  padding: 3px 4px;
}

/* line 73, ../../assets/scss/grn.scss */
input[type=submit]:hover {
  background-color: #393;
  color: #fff;
  border-radius: 3px;
}

/* line 78, ../../assets/scss/grn.scss */
input[type=submit] {
  background-color: #131;
  color: #fff;
  border-radius: 3px;
  padding: 2px 10px;
  font-weight: bold;
  border: 1px solid #000;
}

/* line 86, ../../assets/scss/grn.scss */
a {
  color: #393;
  font-weight: bold;
  text-decoration: none;
}

/* line 91, ../../assets/scss/grn.scss */
a:hover {
  text-decoration: underline;
}

/* line 95, ../../assets/scss/grn.scss */
#container {
  width: 90%;
  margin: 0 auto;
}
/* line 98, ../../assets/scss/grn.scss */
#container #wrapper {
  width: 100%;
  text-align: left;
}
/* line 101, ../../assets/scss/grn.scss */
#container #wrapper #titlebar {
  margin-bottom: 20px;
  position: relative;
}
/* line 104, ../../assets/scss/grn.scss */
#container #wrapper #titlebar #logo {
  position: absolute;
  left: -10px;
}
/* line 108, ../../assets/scss/grn.scss */
#container #wrapper #titlebar h1 {
  color: #fff;
  text-shadow: 0 5px 10px #000;
  font-size: 36px;
  letter-spacing: 4px;
  line-height: 90%;
  margin: 10px 20px 0 0;
  text-align: right;
  padding-top: 5px;
  font-family: 'Inder', sans-serif;
}
/* line 120, ../../assets/scss/grn.scss */
#container #wrapper .cell {
  box-shadow: 0 0 400px -70px #fff;
}
/* line 122, ../../assets/scss/grn.scss */
#container #wrapper .cell #signup {
  background-color: #ccc;
  padding: 5px 20px;
  text-align: right;
}
/* line 127, ../../assets/scss/grn.scss */
#container #wrapper .cell #nav {
  background-color: #fff;
}
/* line 129, ../../assets/scss/grn.scss */
#container #wrapper .cell #nav ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}
/* line 133, ../../assets/scss/grn.scss */
#container #wrapper .cell #nav ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 137, ../../assets/scss/grn.scss */
#container #wrapper .cell #nav ul li a {
  padding: 5px 20px;
  color: #aaa;
}
/* line 140, ../../assets/scss/grn.scss */
#container #wrapper .cell #nav ul li a:hover {
  color: #999;
  text-decoration: none;
  border-bottom: 3px dotted #ddd;
}
/* line 145, ../../assets/scss/grn.scss */
#container #wrapper .cell #nav ul li a.active {
  color: #000;
  border-bottom: 3px dotted #bbb;
}
/* line 153, ../../assets/scss/grn.scss */
#container #wrapper .cell #content {
  background-color: #fff;
  text-align: left;
}
/* line 156, ../../assets/scss/grn.scss */
#container #wrapper .cell #content .meat {
  padding: 20px;
  min-height: 300px;
}
/* line 159, ../../assets/scss/grn.scss */
#container #wrapper .cell #content .meat blockquote {
  font-size: 14px;
  color: #666;
  border-top: 2px dotted #ccc;
  padding-top: 10px;
}
/* line 166, ../../assets/scss/grn.scss */
#container #wrapper .cell #content .menu {
  width: 180px;
  float: right;
  text-align: right;
  padding: 5px 20px;
}
/* line 171, ../../assets/scss/grn.scss */
#container #wrapper .cell #content .menu h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
/* line 176, ../../assets/scss/grn.scss */
#container #wrapper .cell #content .menu ul {
  list-style: none;
}
/* line 179, ../../assets/scss/grn.scss */
#container #wrapper .cell #content .menu ul li span {
  font-size: 12px;
  color: #666;
}
/* line 187, ../../assets/scss/grn.scss */
#container #wrapper .cell #footer {
  padding: 5px 20px;
  background-color: #000;
  color: #ccc;
  font-size: 12px;
}
/* line 192, ../../assets/scss/grn.scss */
#container #wrapper .cell #footer .cg {
  margin-right: 12px;
  margin-left: -30px;
  margin-top: -12px;
}

@media only screen and (max-width: 600px) {
  /* line 202, ../../assets/scss/grn.scss */
  body {
    width: auto !important;
  }

  /* line 205, ../../assets/scss/grn.scss */
  body, table, td, p, a, li, blockquote {
    -webkit-text-size-adjust: none !important;
  }

  /* line 208, ../../assets/scss/grn.scss */
  #backgroundTable, #wrapper {
    max-width: 600px !important;
    width: 100% !important;
  }

  /* line 212, ../../assets/scss/grn.scss */
  #templatePreheader {
    display: none;
  }

  /* line 215, ../../assets/scss/grn.scss */
  #templateBody {
    padding: 10px !important;
  }
}
