@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Inder);
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 33, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/* line 40, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* line 48, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) { display: none; height: 0; }

/* line 55, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
[hidden] { display: none; }

/* line 69, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 82, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
html, button, input, select, textarea { font-family: sans-serif; }

/* line 88, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
body { margin: 0; }

/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:focus { outline: thin dotted; }

/* line 109, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
a:active, a:hover { outline: 0; }

/* line 122, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h1 { font-size: 2em; margin: 0.67em 0; }

/* line 127, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h2 { font-size: 1.5em; margin: 0.83em 0; }

/* line 132, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h3 { font-size: 1.17em; margin: 1em 0; }

/* line 137, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h4 { font-size: 1em; margin: 1.33em 0; }

/* line 142, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h5 { font-size: 0.83em; margin: 1.67em 0; }

/* line 147, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
h6 { font-size: 0.67em; margin: 2.33em 0; }

/* line 153, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 159, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
b, strong { font-weight: bold; }

/* line 163, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
blockquote { margin: 1em 40px; }

/* line 168, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dfn { font-style: italic; }

/* line 174, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/* line 181, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
mark { background: #ff0; color: #000; }

/* line 188, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
p, pre { margin: 1em 0; }

/* line 196, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* line 203, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* line 210, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q { quotes: none; }

/* line 216, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
q:before, q:after { content: ''; content: none; }

/* line 222, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
small { font-size: 80%; }

/* line 228, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 235, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sup { top: -0.5em; }

/* line 239, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
sub { bottom: -0.25em; }

/* line 253, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dl, menu, ol, ul { margin: 1em 0; }

/* line 257, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
dd { margin: 0 0 0 40px; }

/* line 264, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
menu, ol, ul { padding: 0 0 0 40px; }

/* line 270, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* line 283, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
img { border: 0; -ms-interpolation-mode: bicubic; }

/* line 289, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* line 300, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
figure { margin: 0; }

/* line 311, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
form { margin: 0; }

/* line 316, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* line 325, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

/* line 339, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* line 349, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button, input { line-height: normal; }

/* line 358, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button, select { text-transform: none; }

/* line 372, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

/* line 380, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button[disabled], html input[disabled] { cursor: default; }

/* line 389, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

/* line 399, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 409, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 415, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 422, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 434, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
html, button, input, select, textarea { color: #222222; }

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
body { font-size: 1em; line-height: 1.4; }

/* line 34, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
::-moz-selection { background: #b3d4fc; text-shadow: none; }

/* line 39, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
::selection { background: #b3d4fc; text-shadow: none; }

/* line 45, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* line 55, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
img { vertical-align: middle; }

/* line 60, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
fieldset { border: 0; margin: 0; padding: 0; }

/* line 67, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
textarea { resize: vertical; }

/* line 77, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_main.scss */
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* line 6, ../../app/css/grn.scss */
::-moz-selection { background: #000; color: #fff; }

/* line 10, ../../app/css/grn.scss */
::selection { background: #000; color: #f6f8fa; }

/* line 14, ../../app/css/grn.scss */
body { width: 100% !important; -webkit-text-size-adjust: none; margin: 0; padding: 0; background-color: #fff; font-family: 'Inder', monospace; }

/* line 23, ../../app/css/grn.scss */
img { border: none; font-size: 14px; font-weight: bold; height: auto; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; }

/* line 33, ../../app/css/grn.scss */
h1 { color: #425242; display: block; font-size: 30px; font-weight: bold; line-height: 100%; margin: 3px 0 20px 0; text-align: left; font-family: 'Inder', sans-serif; }

/* line 43, ../../app/css/grn.scss */
h2 { color: #425242; display: block; font-size: 24px; font-weight: bold; line-height: 100%; margin-bottom: 3px; text-align: left; border-top: 1px solid #000; border-bottom: 1px dashed #ccc; padding: 5px 0 2px 0; font-family: 'Inder', sans-serif; }

/* line 56, ../../app/css/grn.scss */
h3 { color: #425242; display: block; font-family: 'Source Code Pro', monospace; font-size: 20px; font-weight: bold; line-height: 100%; margin-bottom: 0; text-align: left; font-family: 'Inder', sans-serif; }

/* line 67, ../../app/css/grn.scss */
h4 { color: #425242; display: block; font-family: 'Source Code Pro', monospace; font-size: 18px; font-weight: bold; line-height: 100%; margin: 10px 0 0 0; padding: 5px; text-align: left; font-family: 'Inder', sans-serif; }

/* line 79, ../../app/css/grn.scss */
ul { padding-left: 15px; margin: 5px 0; }

/* line 83, ../../app/css/grn.scss */
input { border: 1px solid #666; padding: 3px 4px; }

/* line 87, ../../app/css/grn.scss */
input[type=submit]:hover { background-color: #393; color: #fff; border-radius: 3px; }

/* line 92, ../../app/css/grn.scss */
input[type=submit] { background-color: #131; color: #fff; border-radius: 3px; padding: 3px 10px; font-weight: bold; border: 1px solid #000; }

/* line 100, ../../app/css/grn.scss */
a { color: #393; font-weight: bold; text-decoration: none; }

/* line 105, ../../app/css/grn.scss */
a:hover { text-decoration: underline; }

/* line 108, ../../app/css/grn.scss */
#container { width: 90%; max-width: 800px; margin: 0 auto; position: relative; }
/* line 113, ../../app/css/grn.scss */
#container #wrapper { width: 100%; position: relative; text-align: left; }
/* line 117, ../../app/css/grn.scss */
#container #wrapper #titlebar { margin-bottom: 20px; position: relative; z-index: 200; }
/* line 121, ../../app/css/grn.scss */
#container #wrapper #titlebar #logo { position: absolute; left: 5px; top: 5px; }
/* line 126, ../../app/css/grn.scss */
#container #wrapper #titlebar .head { color: #393; font-size: 50px; letter-spacing: 2px; line-height: 80%; margin: 10px 20px 0 0; padding-left: 100px; text-align: right; padding-top: 5px; font-family: 'Inder', sans-serif; font-weight: bold; height: 30px; z-index: -1; }
/* line 142, ../../app/css/grn.scss */
#container #wrapper .cell { box-shadow: 0 0 300px -50px #ccc; z-index: 1; }
/* line 145, ../../app/css/grn.scss */
#container #wrapper .cell #intro { position: relative; background-color: #fff; padding: 5px 20px 5px 100px; text-align: right; box-shadow: 0 10px 20px -10px #ddd; z-index: 40; font-size: 1.2em; color: #425242; }
/* line 155, ../../app/css/grn.scss */
#container #wrapper .cell .topnav { position: relative; }
/* line 157, ../../app/css/grn.scss */
#container #wrapper .cell .topnav ul { list-style: none; margin: 0; padding: 5px 0; }
/* line 161, ../../app/css/grn.scss */
#container #wrapper .cell .topnav ul li { margin: 0; padding: 0; display: inline-block; }
/* line 165, ../../app/css/grn.scss */
#container #wrapper .cell .topnav ul li a { padding: 5px 20px; color: #aaa; }
/* line 168, ../../app/css/grn.scss */
#container #wrapper .cell .topnav ul li a:hover { color: #999; text-decoration: none; border-bottom: 3px dotted #ddd; }
/* line 173, ../../app/css/grn.scss */
#container #wrapper .cell .topnav ul li a.active { color: #000; border-bottom: 3px dotted #bbb; }
/* line 181, ../../app/css/grn.scss */
#container #wrapper .cell #content { background-color: #fff; text-align: left; position: relative; z-index: 10; }
/* line 186, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav { float: left; width: 160px; padding: 10px 10px 0 20px; z-index: 50; }
/* line 191, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav ul { margin: 0; padding: 0; }
/* line 194, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav ul li { display: block; }
/* line 196, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav ul li a { display: block; padding: 1px 5px; }
/* line 199, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav ul li a:hover { background-color: #eec; }
/* line 202, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav ul li a .date { font-size: 11px; float: right; position: relative; top: 4px; color: #9b9; }
/* line 212, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav #signup { margin-top: 20px; text-align: center; }
/* line 215, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav #signup .label { font-size: 0.8em; }
/* line 218, ../../app/css/grn.scss */
#container #wrapper .cell #content .nav #signup input { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; width: 100%; margin: 0; margin-top: 2px; }
/* line 227, ../../app/css/grn.scss */
#container #wrapper .cell #content .column { position: relative; padding: 20px; margin-left: 200px; min-height: 300px; z-index: 100; color: #323232; }
/* line 234, ../../app/css/grn.scss */
#container #wrapper .cell #content .column h2 { margin-top: 20px; }
/* line 237, ../../app/css/grn.scss */
#container #wrapper .cell #content .column h3 { margin: 0; border-bottom: 1px dotted #999; }
/* line 241, ../../app/css/grn.scss */
#container #wrapper .cell #content .column blockquote { font-size: 14px; color: #666; border-top: 2px dotted #ccc; padding-top: 10px; }
/* line 247, ../../app/css/grn.scss */
#container #wrapper .cell #content .column .comment { padding-bottom: 17px; }
/* line 250, ../../app/css/grn.scss */
#container #wrapper .cell #content .column .date { text-align: right; color: #999; }
/* line 253, ../../app/css/grn.scss */
#container #wrapper .cell #content .column .date img { position: relative; top: 2px; margin-left: 10px; }
/* line 259, ../../app/css/grn.scss */
#container #wrapper .cell #content .column .baseline { padding-bottom: 20px; }
/* line 262, ../../app/css/grn.scss */
#container #wrapper .cell #content .column table { width: 100%; }
/* line 266, ../../app/css/grn.scss */
#container #wrapper .cell #content .menu { width: 180px; float: right; text-align: right; padding: 5px 20px; }
/* line 271, ../../app/css/grn.scss */
#container #wrapper .cell #content .menu h2 { margin: 0; margin-bottom: 10px; padding: 0; }
/* line 276, ../../app/css/grn.scss */
#container #wrapper .cell #content .menu ul { list-style: none; }
/* line 279, ../../app/css/grn.scss */
#container #wrapper .cell #content .menu ul li span { font-size: 12px; color: #666; }
/* line 287, ../../app/css/grn.scss */
#container #wrapper .cell #footer { position: relative; padding: 5px 20px; background-color: #000; color: #ccc; font-size: 12px; z-index: 10; margin-bottom: 5%; }
/* line 295, ../../app/css/grn.scss */
#container #wrapper .cell #footer .cg { margin-right: 12px; margin-left: -30px; margin-top: -12px; }
/* line 300, ../../app/css/grn.scss */
#container #wrapper .cell #footer .contact { float: right; }

@media only screen and (max-width: 600px) { /* line 308, ../../app/css/grn.scss */
  body { width: auto !important; }
  /* line 311, ../../app/css/grn.scss */
  body, table, td, p, a, li, blockquote { -webkit-text-size-adjust: none !important; }
  /* line 314, ../../app/css/grn.scss */
  #backgroundTable, #wrapper { max-width: 600px !important; width: 100% !important; }
  /* line 318, ../../app/css/grn.scss */
  #templatePreheader { display: none; }
  /* line 321, ../../app/css/grn.scss */
  #templateBody { padding: 10px !important; }
  /* line 324, ../../app/css/grn.scss */
  #container { width: 100%; }
  /* line 327, ../../app/css/grn.scss */
  #container #wrapper #titlebar { margin-bottom: 0; }
  /* line 329, ../../app/css/grn.scss */
  #container #wrapper #titlebar #logo { display: none; }
  /* line 332, ../../app/css/grn.scss */
  #container #wrapper #titlebar .head { text-align: center; font-size: 32px; height: auto; margin: 5px 0; padding: 0; }
  /* line 340, ../../app/css/grn.scss */
  #container #wrapper .cell { box-shadow: none; }
  /* line 342, ../../app/css/grn.scss */
  #container #wrapper .cell #intro { font-size: 1em; padding: 10px; text-align: center; }
  /* line 347, ../../app/css/grn.scss */
  #container #wrapper .cell #signup { text-align: center; padding: 10px; }
  /* line 352, ../../app/css/grn.scss */
  #container #wrapper .cell #content .nav { padding: 10px; float: none; width: auto; }
  /* line 357, ../../app/css/grn.scss */
  #container #wrapper .cell #content .column { padding: 10px; margin: 0; } }
/* line 7, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
/* line 27, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.ir:before { content: ""; display: block; width: 0; height: 150%; }

/* line 9, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.hidden { display: none !important; visibility: hidden; }

/* line 11, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* line 67, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* line 13, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.invisible { visibility: hidden; }

/* line 93, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after { content: " "; display: table; }
/* line 98, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix:after { clear: both; }
/* line 104, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_helpers.scss */
.clearfix { *zoom: 1; }

@media print { /* line 11, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  /* line 19, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a, a:visited { text-decoration: underline; }
  /* line 23, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  a[href]:after { content: " (" attr(href) ")"; }
  /* line 27, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* line 37, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* line 42, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  /* line 47, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  thead { display: table-header-group; }
  /* line 52, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  tr, img { page-break-inside: avoid; }
  /* line 56, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  /* line 66, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  p, h2, h3 { orphans: 3; widows: 3; }
  /* line 72, ../../../../.rvm/gems/ruby-2.0.0-p195@greeby/gems/compass-h5bp-0.1.1/stylesheets/h5bp/_media.scss */
  h2, h3 { page-break-after: avoid; } }
